.cartItem-body{
    width: 100%;
    height: auto;
    background: transparent;
    font-size: 1.5rem;
    border-bottom: 3px solid darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.cartItem-right-outer{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.cartItem-right-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.cartItem-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.cartItem-changebtns{
    background: transparent;
    color: darkblue;
    width: 120px;
    font-weight: bolder;
    font-size: 30px;
    border: 2px solid darkblue;
    border-radius: 10px;
}